    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    
    .about-container {
      /* Highlighted text color */
       
        display: flex;
        justify-content: center;
        justify-content: space-between;
        background-color: #ffcc00;
        padding:  40px;
        padding-top: 200px;
        padding-bottom: 200px;
        color: #181818;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    }

    .about-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        background-color: #f9f9f9ec;
        list-style: none;
        
        border-radius: 50px;
        padding: 50px;
    }

    .about-list li {
       color: #181818;
        list-style-type: "\1F44D";
    }



    .about-container h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .about-container p {
        margin-left: 50px;
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .about-content{
        flex: 1;
        padding: 20px;
    }

    .about-content-1 h2{
        margin-bottom: 50px;
        padding-right: 300px;
        display: flex;
        justify-content: center;
    }

    .about-content-2 {
        background-color: #f9f9f9ec;
        border-left: 4px solid #ffcc00;
        border-radius: 50px;
    }
